@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
  --primary: #22C55E;
  --secondary: #16A34A;
  --tertiary: #84CC16;
  --btntext:#003915;
  --bg: #0f172a;
  --text: #ffffff;
  --dark-theme-bg: #ffffff;
  --light-theme-shade-bg: #192034;
  --subtext: #BCCBB9;
}

.dark {
  --bg: #ffffff;
  --text: #0f172a;
  --light-theme-shade-bg: #192034;
  --subtext: #BCCBB9;

}